@page "/"

@inject HttpClient Http
@using FellowOakDicom;
@using FellowOakDicom.Imaging
@using Blazor.Extensions.Canvas.Canvas2D
@using Blazor.Extensions
@using Blazor.Extensions.Canvas

<PageTitle>DICOM File Load Experiment</PageTitle>

<h1>DICOM Hello World</h1>


<FileSelect @ref="dicomFileSelect" FilesSelected="DicomFileSelectedHandler"></FileSelect>

<div class="row">
    <div class="col-sm-6">
        <div>
            <button class="btn btn-primary" @onclick="SelectDicomFiles">Select DICOM File</button>
        </div>
        @if (errorMessage != null)
        {
            <div class="alert alert-warning" role="alert">
                @errorMessage
                <button type="button" class="close" aria-label="Close" @onclick="@CloseErrorAlert">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
        }
    </div>
</div>

@if (dicomFileUrl != null)
{
    <hr />
    <div>
        <div>
            <h5>Load the image data into .NET</h5>
            <button class="btn btn-primary" @onclick="@LoadSelectedDicomFile">Load DICOM</button>
        </div>
        <div>
            File: @dicomFile.SelectedFile.Name
        </div>
        <div>
            Is Loaded: @dicomFile.IsLoaded
        </div>
        <div>
            Loaded Size: @dicomFile.LoadedSize
        </div>
        @if (dicomData != null)
        {
            <div>
                DICOM File Format: @dicomData.Format
            </div>
            <div>
                Patient ID: @dicomData.Dataset.GetString(DicomTag.PatientID);
            </div>
        }
        @if (dicomImage != null)
        {
            <div>
                DICOM Image Width: @dicomImage.Width
            </div>
            <div>
                DICOM Image Height: @dicomImage.Height
            </div>
        }
    </div>
}

<BECanvas Width="600" Height="600" @ref="_canvasReference" ></BECanvas>

@code 
{
    // Component reference
    FileSelect imageFileSelect;

    LoadFile imageFile;

    // Component reference
    FileSelect dicomFileSelect;

    LoadFile dicomFile;


    string dicomFileUrl;
    string imageFileUrl;
    string? errorMessage;

    DicomFile dicomData;
    DicomImage dicomImage;

    private Canvas2DContext _context;

    BECanvasComponent _canvasReference;

    void SelectDicomFiles() =>
        dicomFileSelect.SelectFiles();

    // Handle the file selection event
    async Task ImageFileSelectedHandler(SelectedFile[] selectedFiles)
    {
        imageFile = new LoadFile()
        {
            SelectedFile = selectedFiles.FirstOrDefault(),
            IsLoaded = false,
            LoadedSize = 0
        };

        try
        {
    // load the blob url and dispaly the image
            imageFileUrl = await imageFileSelect.GetFileBlobUrlAsync(imageFile.SelectedFile.Name);
    //StateHasChanged();
        }
        catch (Exception ex)
        {
            errorMessage = ex.Message;
        }
    }

    async Task DicomFileSelectedHandler(SelectedFile[] selectedFiles)
    {
        dicomFile = new LoadFile
        {
            SelectedFile = selectedFiles.FirstOrDefault(),
            IsLoaded = false,
            LoadedSize = 0
        };

        try
        {
            dicomFileUrl = await dicomFileSelect.GetFileBlobUrlAsync(dicomFile.SelectedFile.Name);
        }
        catch (Exception ex)
        {
            errorMessage = ex.Message;
        }
    }

    async Task LoadSelectedDicomFile()
    {
        try
        {
            var byteData = await dicomFileSelect.GetFileBytesAsync(dicomFile.SelectedFile.Name);
            dicomFile.IsLoaded = true;
            dicomFile.LoadedSize = byteData.Length;

            await using var memoryStream = new MemoryStream(byteData);

            dicomData = await DicomFile.OpenAsync(memoryStream);
            dicomImage = new DicomImage(dicomData.Dataset);
        }
        catch (Exception ex)
        {
            errorMessage = ex.Message;
        }
    }

    void CloseErrorAlert()
    {
        ResetErrorState();
    }

    void ResetErrorState()
    {
        errorMessage = null;
    }

    protected override async Task OnAfterRenderAsync(bool firstRender)
    {
        this._context = await this._canvasReference.CreateCanvas2DAsync();
        await this._context.SetFillStyleAsync("Green");

        await this._context.FillRectAsync(0, 0, 600, 600);
    }
}